{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 text-center rounded">
      <p>Your username and password didn't match. Please try again.</p>
    </div>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="form-container">
      <form class="space-y-6" method="POST">
        <div>
          <label for="id_username" class="form-label">Username:</label>
          <div class="mt-2">
            <input type="text" id="id_username" name="username" class="form-input">
          </div>
        </div>
    
        <div>
          <div class="flex justify-between">
            <label for="id_password" class="form-label">Password:</label>
            <a href="{% url 'password_reset' %}" class="link">Forgot password?</a>  
          </div>
          <div class="mt-2">
            <input type="password" id="id_password" name="password" class="form-input">
          </div>
          <div class="mt-6">
            <button type="submit" value="login" class="btn-login">Sign in</button>
          </div>
        </form>
        <input type="hidden" name="next" value="{{ next }}">
      </div>

      <p class="text-center">
        No Account?
        <a href="{% url 'django_registration_register' %}" class="font-medium text-blue-600 hover:text-blue-500">Register Here</a>
      </p>
  </form>
{% endblock %}
