/* Vars */
:root {
    --color-charcoal: #383F51;
    --color-lavender: #DDDBF1;
    --color-azul: #3C4F76;
    --color-beige: #D1BEB0;
    --color-quartz: #AB9F9D;
    --color-white: #FFFFFF;
}

/* Typography */
html {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.75rem;
}
body {
  font-size: 1rem;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}

/* 
Home Page CSS
*/

.btn-hero {
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-weight: 700;
    text-decoration: none;
}

.feature-text h3 {
    padding: 10px;
    color: var(--color-azul);
}
.feature-text p {
    padding: 10px;
    color: var(--color-azul);
}
.feature-item {
    margin-bottom: 2rem;
}

.footer-section {
    padding: 50px 50px 0px 50px;
    background-color: var(--color-charcoal);
}
.footer-open-source a:hover {
    color: var(--color-beige);
}

.footer-links {
    margin-bottom: 2rem;
}
.footer-links h2 {
    color: var(--color-lavender);
    font-size: 1.25rem;
    font-weight: 600;
}
.footer-links a {
    display: block;
    color: var(--color-lavender);
    text-decoration: none;
    transition: color 0.3s;
}
.footer-links a:hover {
    color: gray;
}

/* Profile Page Stuff */
.btn-profile {
    background-color: var(--color-azul); 
    color: var(--color-white); 
}

.stat-divider {
    width: 1px;
    height: 48px;
    background-color: var(--color-charcoal); 
}

.stat-item {
    padding: 0 1.5rem; 
}
