@tailwind base;
@tailwind components;
@tailwind utilities;
.form-input {
  @apply block w-full rounded-md px-2;
}
.form-label {
  @apply font-medium leading-6 text-gray-900;
}

.btn-login {
  @apply flex w-full justify-center rounded-md  p-3 text-sm font-semibold text-white bg-azul hover:bg-azul;
}

.link {
  @apply font-medium text-blue-600 hover:text-blue-500;
}

.form-container {
  @apply mt-48 mb-64 mx-auto w-1/4;
}
.profile-item {
  @apply flex items-center gap-5 mb-5;
}

.profile-image img {
  @apply max-w-md h-auto w-80;
}
.profile-text p {
  @apply text-xl pt-5;
}
.nav-bar {
  @apply p-5 flex items-center justify-between bg-charcoal;
}
.nav-div {
  @apply flex items-center space-x-4;
}
.nav-links {
  @apply flex gap-5;
}
.nav-bar * {
  @apply text-white;
}
.nav-bar a,
.nav-bar input {
  @apply text-lg hover:text-gray-500;
}

.hero {
  @apply bg-azul text-white py-20;
}

.hero-container {
  @apply container mx-auto text-center px-4;
}

.btn-hero {
  @apply bg-lavender text-azul py-3 px-6 rounded-md;
}

.feature-item {
  @apply flex flex-col md:flex-row items-center mb-12;
}

.feature-image {
  @apply md:w-1/2 flex justify-center;
}

.feature-image img {
  @apply w-3/4 rounded-lg shadow-lg object-cover h-64;
}

.feature-text {
  @apply md:w-1/2 mb-6 md:mb-0 text-white;
}