{% extends 'base.html' %}

{% block content %}
{% load static %}
  <div class="text-center py-4">
    <h1 class="text-4xl">About Us</h1>
  </div>
  

  <div class="container mx-auto px-4">
    <ul class="list-none max-w-8xl mx-auto">
        <li class="profile-item">
            <div class="profile-image">
                <img src="{% static 'website/cmyers.png' %}" alt="Carl Myers' Headshot" />
            </div>
            <div class="profile-text">
                <h1>Carl Myers</h1>
                <p>Carl Myers lives in Sacramento, CA and is the manager of the CI Platform team at Indeed. Carl has spent his nearly two-decade career dedicated to building internal tools and developer platforms that delight and empower engineers at companies large and small. Carl is the founder and first customer of healthdata.tools.</p>
            </div>
        </li>
        <li class="profile-item">
            <div class="profile-image">
                <img src="{% static 'website/evelyn.jpg' %}" alt="Evelyn Gordon's Headshot" />
            </div>
            <div class="profile-text">
                <h1>Evelyn Gordon</h1>
                <p>Evelyn Gordon is a Junior at Rose-Hulman Institute of Technology. Evelyn is a lifelong programmer with a passion for learning new technologies. Evelyn has spent her last two summers at Direct Supply building a full-stack Analytics platform to provide detailed insights into billions of dollars of spend across thousands of healthcare locations.</p>
            </div>
        </li>
       <li class="profile-item">
            <div class="profile-image">
                <img  src="{% static 'website/nadler.jpg' %}" alt="Nathan Adler's Headshot" />
            </div>
            <div class="profile-text">
                <h1>Nathan Adler</h1>
                <p>Nathan Adler is a Senior of Software Engineering at Rose-Hulman minoring in Art. This past summer, Nathan completed an internship in project management, managing client implementations. When not working, he enjoys the outdoors and discovering new ways to incorporate he passion for design into his hobbies.</p>
            </div>
        </li>
        <li class="profile-item">
            <div class="profile-image">
                <img src="{% static 'website/scox.jpg' %}" alt="Sam Cox's Headshot" />
            </div>
            <div class="profile-text">
                <h1>Sam Cox</h1>
                <p>Sam Cox is a Senior at Rose-Hulman, majoring in Computer Science. At his last internship, Sam worked on redesigning the front end of an embedded system display for commercial tractors, and training an AI model to accurately spray pesticides.</p>
            </div>
        </li>
        <li class="profile-item">
            <div class="profile-image">
                <img src="{% static 'website/anthony.jpg' %}" alt="Anthony Campos's Headshot" />
            </div>
            <div class="profile-text">
                <h1>Anthony Campos</h1>
                <p>Anthony Campos is a Senior Software Engineering student at Rose-Hulman Institute of Technology. He spent his last summer at Asana where he worked on the search infrastructure team building a load testing framework for stress testing various services and performance testing product features.</p>
            </div>
        </li>
    </ul>
</div>
{% endblock content %}
