{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Hero -->
<section class="hero">
    <div class="hero-container">
        <h1 class="text-4xl lg:text-6xl font-bold mb-4">Welcome to healthdata.tools</h1>
        <p class="hero-description text-lg lg:text-xl mb-8">All of your health data, at your fingertips</p>
        {% if not user.is_authenticated %}
            <a href="{% url 'django_registration_register' %}" class="btn-hero">Create An Account</a>
        {% endif %}
        
    </div>
        
</section>

<!-- Features Section -->
<section id="features" class="features-section bg-gray text-azul py-10">
    <div class="container mx-auto px-4">
        <h2 class="text-center lg:text-6xl font-bold mb-12">Features</h2>

        <div class="feature-item">
            <div class="feature-text md:w-1/2 mb-6 md:mb-0">
                <h3 class="text-2xl font-semibold mb-2">Combining Health Data All in One Place</h3>
                <p>Easily connect and centralize all your health data, including fitness statistics and
                    blood sugar level to view a comprehensive profile in one place.</p>
            </div>
            <div class="feature-image">
                <img src="{% static 'website/HomeImages/combine.jpg' %}" alt="Combining health data">
            </div>
        </div>

        <div class="feature-item">
            <div class="feature-image">
                <img src="{% static 'website/HomeImages/display.jpg' %}" alt="Customizable data charts">
            </div>
            <div class="feature-text">
                <h3 class="text-2xl font-semibold mb-2">Display Data in Customizable Charts</h3>
                <p>Transform raw data into insightful visuals with customizable charts, designed to help you
                    track patterns and make informed health decisions.</p>
            </div>
        </div>

        <div class="feature-item">
            <div class="feature-text">
                <h3 class="text-2xl font-semibold mb-2">Securely Store Your Data</h3>
                <p>Keep your health information private and protected with encryption and strict access
                    controls, ensuring your personal data remains secure.</p>
            </div>
            <div class="feature-image">
                <img src="{% static 'website/HomeImages/secure.jpg' %}" alt="Secure data storage">
            </div>
        </div>

        <div class="feature-item">
            <div class="feature-image">
                <img src="{% static 'website/HomeImages/open.jpg' %}" alt="Sharing health data">
            </div>
            <div class="feature-text">
                <h3 class="text-2xl font-semibold mb-2">Open Source</h3>
                <p>The health data team values the power of the individual developer. 
                    Check out our 
                    <a href="https://gitlab.com/healthdatatools/healthdata.tools" class="underline hover:text-charcoal">GitLab</a>
                    if you wish to add or improve functionality, or to report a bug.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
