{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Profile Header Section -->
<!-- <header id="profile-header" class=" py-8 flex flex-col items-center"> -->

  <!-- Username and Email -->
  <!-- <div class="pt-32 text-center mb-6">
    <h2 class="text-2xl font-semibold">{{ user.username }}</h2>
    <p class="text-gray-600 text-sm">{{ user.email }}</p>
  </div> -->

  <!-- Stat area -->
  <!-- <div class="stats flex space-x-8 items-center">
    <div class="text-center stat-item">
      <h3 class="text-2xl font-semibold">5</h3>
      <p class="text-sm text-gray-600">Data Sources</p>
    </div>
    <div class="stat-divider"></div> 

    <div class="text-center stat-item">
      <h3 class="text-2xl font-semibold">8</h3>
      <p class="text-sm text-gray-600">Connected Devices</p>
    </div>
    <div class="stat-divider"></div> 

    <div class="text-center stat-item">
      <h3 class="text-2xl font-semibold">2</h3>
      <p class="text-sm text-gray-600">People Sharing With</p>
    </div>
  </div> -->
<!-- </header> -->

<!-- Profile Buttons -->
<!-- <section id="actions" class="container mx-auto px-4">
  <div class="data-management mb-8">
    <h2 class="text-xl font-semibold mb-4">Data Management</h2>
    <div class="flex flex-col space-y-4">
      <button class="btn-profile py-3 px-6 rounded-md text-center">Manage Data Sources</button>
      <button class="btn-profile py-3 px-6 rounded-md text-center">Share with Other User</button>
      <button class="btn-profile py-3 px-6 rounded-md text-center">Export Data</buWton>
    </div>
  </div>

  <div class="account-settings mb-8">
    <h2 class="text-xl font-semibold mb-4">Account Settings</h2>
    <div class="flex flex-col space-y-2">
      <button class="btn-profile py-3 px-6 rounded-md text-center">Privacy Settings</button>
      <button class="btn-profile py-3 px-6 rounded-md text-center">Change Password</button>
    </div>
  </div>
</section> -->
{% endblock content %}