{% extends "base.html" %}
{% load utils %}
{% load static %}
{% block content %}
<div class="container mx-auto">
  <h1 class="text-4xl my-4">Configure import for {{ source.name }}</h1>
  <p>File: {{ import.file_name }} ({{ import.file.size | filesizeformat }})</p>
  <p>Uploaded on {{ import.created_at }}</p>
  
  <div class="bg-gray-300 shadow-sm m-1 p-4 rounded-lg max-w-96">
    <h2 class="mb-2">Format Configuration</h2>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="form" value="config">
      {{ form_format | format_form }}
      <input type="submit" value="apply" class="mt-4 bg-azul text-white p-2 w-full rounded-lg" />
    </form>
  </div>
  
  <p>File scanned with {{ errors | length }} errors and {{ warnings | length }} warnings</p>
  <ul class="list-disc ml-4">
    {% for error in errors %}
    <li class="text-red-600">{{ error }}</li>
    {% endfor %}
    {% for warning in warnings %}
    <li class="text-yellow-600">{{ warning }}</li>
    {% endfor %}
  </ul>

  {% if not bad_format %}
  <p>File has {{ columns | length }} columns and {{ row_count }} rows</p>

  <h1 class="text-4xl my-4">Configure Columns</h1>
  <form method="post" id="importForm">
    {% csrf_token %}
    <input type="hidden" name="form" value="columns">
    {{ columns_management }}
    {% for column in columns %}
    {% if not column.meta.has_data %}
    <div class="bg-gray-200 shadow-sm mx-1 my-2 p-4 rounded-lg">
      <h3 class="mb-2">
        <input type="checkbox" class="enable-checkbox size-5" title="Import Column" name="{{ column.form.enabled.html_name }}" disabled>
        Column "{{ column.meta.name }}"
      </h3>
      <p>Column has no data</p>
    </div>
    {% elif not column.meta.valid_types %}
    <div class="bg-gray-200 shadow-sm mx-1 my-2 p-4 rounded-lg">
      <h3 class="mb-2">
        <input type="checkbox" class="enable-checkbox size-5" title="Import Column" name="{{ column.form.enabled.html_name }}" disabled>
        Column "{{ column.meta.name }}"
      </h3>
      <p>Column is not in a supported format</p>
    </div>
    {% else %}
    <div class="bg-gray-200 has-[.enable-checkbox:checked]:bg-gray-300 shadow-sm mx-1 my-2 p-4 rounded-lg">
      <h3 class="mb-2">
        <input type="checkbox" class="enable-checkbox size-5" title="Import Column" name="{{ column.form.enabled.html_name }}" {% if column.form.enabled.value %}checked{% endif %}>
        Column "{{ column.meta.name }}"
      </h3>
      {{ column.form.data_format.errors }}
      <p>
        <label for="{{ column.form.data_format.id_for_label }}">Data Format:</label>
        <select class="p-1" id="{{ column.form.data_format.id_for_label }}" name="{{ column.form.data_format.html_name }}">
          {% for type in column.meta.valid_types %}
          <option value="{{type.key}}" {% if column.form.data_format.value == type.key %}selected{% endif %}>{{ type.display_name }}</option>
          {% endfor %}
          {% for type in column.meta.invalid_types %}
          <option value="{{type.key}}" disabled>(invalid) {{ type.display_name }}</option>
          {% endfor %}
        </select>
      </p>
    </div>
    {% endif %}
    {% endfor %}
    <input type="submit" value="Import" class="my-4 bg-azul text-white p-2 w-64 rounded-lg" />
  </form>
  {% endif %}

  <div role="dialog" aria-labelledby="importDialogTitle" id="importDialog" class="fixed inset-0 bg-gray-100 bg-opacity-75 flex flex-col items-center justify-center hidden">
    <img src="{% static 'website/spinner.svg' %}" width="100" height="100" alt="" class="mb-8" />
    <h1 id="importDialogTitle" class="mb-2">Processing Import</h1>
  </div>
</div>
{% endblock %}


{% block extra_scripts %}
<script src="{% static 'website/import_configure.js' %}"></script>
{% endblock extra_scripts %}
