{% extends "base.html" %}
{% load utils %}
{% block content %}
<div class="container mx-auto">
  <form method="post" class="form-container" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | format_form }}
    <input type="submit" value="Import" class="mt-4 bg-azul text-white p-2 w-full rounded-lg">
  </form>
</div>
{% endblock %}
