{% extends "base.html" %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-4xl my-4">Sources</h1>

    <a href="{% url 'website/sources/create' %}" class="bg-blue-500 text-white px-3 py-2 rounded-md">Create a source</a>
    
    {% for source in sources %}
    <a href="{% url 'website/sources/view' source.slug source.id %}">
        <div class="bg-white p-4 my-4 rounded-lg shadow-sm transition-shadow hover:shadow-lg">
            <h2 class="text-lg font-bold">{{ source.name }}</h2>
            <p>{{ source.dataimport_count }} imports</p>
        </div>
    </a>
    {% empty %}
    <div class="text-center">
        <p class="text-lg my-24">You don't have any data sources. Why not create one?</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
