{% extends "base.html" %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-4xl my-4">{{ source.name }}</h1>

    <a href="{% url 'website/sources/import/create' source.slug source.id %}" class="bg-blue-500 text-white px-3 py-2 rounded-md">Import</a>

  {% if imports %}
  <ul class="list-disc my-4 mx-8">
    {% for import in imports %}
    <li>
      <a href="{% url 'website/sources/import/configure' source.slug source.id import.id %}" class="link">
        {{ import.file_name }} ({{ import.file.size | filesizeformat }}) uploaded
        {{ import.created_at }}
        {% if import.processed_at %}
        <span class="text-emerald-500">(processed)</span>
        {% else %}
        <span class="text-yellow-600">(not yet configured and processed)</span>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class="text-center">
    <p class="text-lg my-24">You haven't imported any data for this source yet.</p>
  </div>
  {% endif %}
</div>
{% endblock %}
