<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load utils %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>Healthdata.tools - Your own health data at your fingertips</title>
  <link rel="stylesheet" href="{% static 'website/output.css' %}"> <!-- Tailwind Styles -->
  <link rel="stylesheet" href="{% static 'website/styles.css' %}"> <!-- Custom Styles -->
</head>

<body>
  <div class="min-h-screen flex-col flex relative bg-gray-100">
    <nav class="nav-bar">
      <div class="flex nav-div space-x-4">
        <div class="mr-2">
          <img src="{% static 'website/logo.svg' %}" alt="HealthData.tools Logo" class="h-[50px] w-auto">
        </div>
        <div class="nav-links">

          <a href="{% url 'website/home' %}">Home</a>
          <a href="{% url 'website/about' %}">About</a>

          {% if user.is_authenticated %}
          <a href="{% url 'website/charts' %}">Charts</a>
          <a href="{% url 'website/sources' %}">Sources</a>
          <a href="{% url 'website/profile' %}">Profile</a>
          {% endif %}
        </div>
      </div>

      <div class="flex nav-div space-x-4">
        <!--Auth-->
        {% if user.is_authenticated %}
        <!-- <span>Logged in as {{ user.username }} (<em>{{ user.email }}</em>)</span> -->
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <input class="text-lg text-black hover:text-gray-300" type="submit" value="logout">
          <input type="hidden" name="next" value="{{ next }}">
        </form>
        {% else %}
        <!-- <h5>You are not logged in</h5> -->

        <div class="flex space-x-4">
          <a href="{% url 'login' %}" class="text-lg text-black hover:text-gray-300">Login</a>
          <a href="{% url 'django_registration_register' %}" class="text-lg text-black hover:text-gray-300">Register</a>
        </div>
        {% endif %}
      </div>
    </nav>

    <div class="flex-grow min-h-screen" style="display: flex; flex-direction: column;">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Footer -->

  </div>

  <!-- Footer -->
  <footer class="footer-section bg-charcoal py-8 text-lavender">
    <div class="container mx-auto px-8 text-center">
      <div class="flex justify-center space-x-8">
        <!-- First Column: Pages -->
        <div class="footer-links">
          <h2 class="text-xl font-semibold">Health Data</h2>
          <ul class="space-y-2">
            <li><a href="{% url 'website/home' %}" class="hover:text-gray-400">Home</a></li>
            <li><a href="{% url 'website/about' %}" class="hover:text-gray-400">About</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'website/charts' %}" class="hover:text-gray-400">Charts</a></li>
              <li><a href="{% url 'website/sources' %}" class="hover:text-gray-400">Sources</a></li>
              <li><a href="{% url 'website/profile' %}" class="hover:text-gray-400">Profile</a></li>
            {% endif %}
          </ul>
        </div>

        <!-- Second Column: Our Team -->
        <div class="footer-links">
          <h2 class="text-xl font-semibold">Development</h2>
          <ul class="space-y-2">
            <li><a href="https://gitlab.com/healthdatatools/healthdata.tools" class="hover:text-gray-400">GitLab</a>
            </li>
            <li><a href="https://gitlab.com/healthdatatools/healthdata.tools" class="hover:text-gray-400">Dev Guide</a></li>
        </div>
      </div>

      <div class="pb-8 footer-contact">
        <h2 class="font-bold">Contact Us</h2>
        <p>at support@healthdata.tools</p>
      </div>
    </div>

    <div class="flex mt-auto justify-center">
      <p class="text-xs">healthdata.tools version {% get_domain_version %} deployed {% get_deployment_time %}</p>
    </div>
  </footer>

  {% block extra_scripts %}
  {% endblock extra_scripts %}
</body>

</html>
