{% extends "base.html" %}

{% block content %}
  <p>Your account could not be activated. Please reach out to <a href="mailto:support@healthdata.tools">support@healthdata.tools</a> if you cannot log into your account.</p>
{% endblock %}
