{% extends "base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="register">
  </form>

  <p>
    <a href="{% url 'login' %}" class="font-medium text-blue-600 hover:text-blue-500">Login instead</a>
  </p>
{% endblock %}
